<div class="container-fluid mt-3">
    <div class="row bg-light">
        <div class="col text-center py-3">
            <div>© 2020 {title} <a href='http://www.beian.miit.gov.cn' target="_blank">{record}</a></div>
            <div>Powered by <a href="http://www.yanzicms.com" class="text-dark" target="_blank">Yanzi CMS</a> {statistics}</div>
        </div>
    </div>
</div>
<div id="submitcomment" class="d-none">{=url('comment')}</div>
<div id="submitmessage" class="d-none">{=url('message')}</div>
<div id="submitfavorites" class="d-none">{=url('favorites')}</div>
<div id="submitlikes" class="d-none">{=url('likes')}</div>
<script src="{domain}frontend/js/jquery.min.js"></script>
<script src="{domain}frontend/js/bootstrap.bundle.min.js"></script>
<script src="{domain}template/{template}/js/content.js"></script>
</body>
</html>