{include header}
{include breadcrumb}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-secondary">请在下面写下留言</p>
            <form>
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input type="text" class="form-control" name="phone">
                </div>
                <div class="form-group">
                    <label>电子邮箱</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>其他联系方式</label>
                    <input type="text" class="form-control" name="other">
                </div>
                <div class="form-group">
                    <label>留言内容</label>
                    <textarea class="form-control" rows="8" name="message"></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-info message">留言</button>
                </div>
            </form>
        </div>
    </div>
</div>
{include footer}