/vendor
composer.lock
/runtime/cache/*
/runtime/log/*
/runtime/solve/*
/public/avatar
/public/data/*
/public/template/*
!/public/template/yanzi/
/app/config/db.php
/app/config/yanzicms.php
/app/model
/app/plugin