{include headers}
<div class="mb-3">
    <small class="form-text text-muted">{=lang('Items marked with * are required')}</small>
</div>
<form>
    <div class="form-group">
        <label for="originalpassword">{=lang('Original password')} *</label>
        <input type="password" class="form-control" value="" name="originalpassword" id="originalpassword">
    </div>
    <div class="form-group">
        <label for="newpassword">{=lang('New password')} *</label>
        <input type="password" class="form-control" value="" name="newpassword" id="newpassword">
    </div>
    <div class="form-group">
        <label for="confirmpassword">{=lang('Confirm password')} *</label>
        <input type="password" class="form-control" value="" name="confirmpassword" id="confirmpassword">
        <small class="form-text text-muted">{=lang('Please enter the new password again')}</small>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-outline-info submit">{=lang('Submit')}
            <div class="spinner-border spinner-border-sm text-secondary d-none">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</form>
{include footers}