{include header}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="card border-0">
                <h5 class="card-header text-center bg-info text-white sticky-top">
                    <a href="javascript:window.history.back(-1)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left float-left text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </a>
                    {pagetitle}
                    <a href="{=url('user_center/index')}">
                        <button type="button" class="close float-right text-white" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </h5>
                <div class="card-body">