{include headers}
<div class="mb-3">
    <a class="btn btn-outline-info btn-sm float-right" href="{=url('admin/allads')}">
        {=lang('All ads')}
    </a>
    <a class="btn btn-outline-info btn-sm float-right mx-2" href="{=url('admin/addad')}">
        {=lang('Add ad')}
    </a>
</div>
<div class="mb-3">
    <small class="form-text text-muted">{=lang('Items marked with * are required')}</small>
</div>
<form>
    <div class="form-group">
        <label for="name">{=lang('Name')} *</label>
        <input type="text" class="form-control" value="{ad.name}" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="alias">{=lang('Alias')} *</label>
        <input type="text" class="form-control" value="{ad.alias}" name="alias" id="alias">
        <small class="form-text text-muted">{=lang('The alias must start with a letter and can only use letters, numbers and underscores')}</small>
    </div>
    <div class="form-group">
        <label for="adimage">{=lang('Ad Image')}</label>
        <div id="adimagediv" class="d-none">
            <img id="adimageimg" src="" height="70">
            <a href="#!" id="adimagedel">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="{=lang('Delete')}">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                <div class="spinner-border spinner-border-sm text-info d-none" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </a>
        </div>
        <div class="custom-file">
            <input type="hidden" name="image" id="adimage" value="{ad.image}">
            <input type="file" class="custom-file-input" name="file" id="adimagefile">
            <label class="custom-file-label" for="adimage" data-browse="{=lang('Browse')}">{=lang('Choose file')}</label>
        </div>
        <small class="form-text text-muted">{=lang('Upload image file')}, {=lang('Only upload picture in "jpg,gif,png" format')}</small>
    </div>
    <div class="form-group">
        <label for="url">{=lang('Advertising link')}</label>
        <input type="text" class="form-control" name="url" id="url" value="{ad.url}">
        <small class="form-text text-muted">{=lang('Link format')}: http://www.yanzicms.com</small>
    </div>
    <div class="form-group">
        <label for="code">{=lang('Ad code')}</label>
        <textarea class="form-control" name="code" id="code" rows="8">{ad.code}</textarea>
    </div>
    <div class="form-group">
        <label for="description">{=lang('Description')}</label>
        <textarea class="form-control" name="description" id="description" rows="4">{ad.description}</textarea>
    </div>
    <div class="text-center">
        <input type="hidden" name="id" value="{ad.id}">
        <button type="button" class="btn btn-outline-info submit">{=lang('Submit')}
            <div class="spinner-border spinner-border-sm text-secondary d-none">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</form>
<div id="choosefile" class="d-none">{=lang('Choose file')}</div>
<script src="{domain}frontend/js/jqueryupload.js"></script>
<script src="{domain}frontend/js/yanzi/addad.js"></script>
{include footers}