{include headers}
<div class="mb-3">
    <small class="form-text text-muted">{=lang('Items marked with * are required')}</small>
</div>
<form>
    <div class="form-group">
        <label for="name">{=lang('Name')} *</label>
        <input type="text" class="form-control" value="{attribution.name}" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="alias">{=lang('Alias')} *</label>
        <input type="text" class="form-control" value="{attribution.alias}" name="alias" id="alias">
        <small class="form-text text-muted">{=lang('The alias must start with a letter and can only use letters, numbers and underscores')}</small>
    </div>
    <div class="form-group">
        <label for="upperlevel">{=lang('Upper level')} *</label>
        <select class="custom-select" name="upperlevel" id="upperlevel">
            <option value="0"{if attribution.parent == 0} selected{endif}>{=lang('Top attribution')}</option>
            {loop name="allAttribution" item="item" key="k"}
            <option value="{item.id}"{if attribution.parent == item.id} selected{endif}>{item.level}{item.name}</option>
            {endloop}
        </select>
    </div>
    <div class="form-group">
        <label for="menu">{=lang('Whether as a navigation menu')}</label>
        <select class="custom-select" name="menu" id="menu">
            <option value="1"{if attribution.menu == 1} selected{endif}>{=lang('As a navigation menu')}</option>
            <option value="0"{if attribution.menu == 0} selected{endif}>{=lang('Not used for navigation menu')}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fortemplate">{=lang('Is it used for template')}</label>
        <select class="custom-select" name="fortemplate" id="fortemplate">
            <option value="0"{if attribution.fortemplate == 0} selected{endif}>{=lang('Not used in template')}</option>
            <option value="1"{if attribution.fortemplate == 1} selected{endif}>{=lang('For template')}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="icon">{=lang('Icon code')}</label>
        <input type="text" class="form-control" value="{attribution.icon}" name="icon" id="icon">
    </div>
    <div class="form-group">
        <label for="template">{=lang('Template')}</label>
        <select class="custom-select" name="template" id="template">
            <option value="">{=lang('Please select a template')}</option>
            {loop name="templates" item="item" key="k"}
            <option value="{item}"{if attribution.template == item} selected{endif}>{item}</option>
            {endloop}
        </select>
    </div>
    <div class="form-group">
        <label for="description">{=lang('Description')}</label>
        <textarea class="form-control" name="description" id="description" rows="4">{attribution.description}</textarea>
    </div>
    <div class="text-center">
        <input type="hidden" name="id" value="{attribution.id}">
        <button type="button" class="btn btn-outline-info submit">{=lang('Submit')}
            <div class="spinner-border spinner-border-sm text-secondary d-none">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</form>
{include footers}