<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yanzicms</title>
    <link rel="icon" href="{domain}frontend/img/favicon.ico">
    <link rel="stylesheet" href="{domain}frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="{domain}frontend/css/yanzicms.css">
    <link rel="stylesheet" href="{domain}frontend/css/jquery-confirm.min.css">
    <script src="{domain}frontend/js/jquery.min.js"></script>
</head>
<body>