<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('System name')}: {sysname}
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('Official website')}: <a href="http://www.yanzicms.com" target="_blank" class="alert-link">www.yanzicms.com</a>
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('Current version')}: {version}
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('The latest version')}:
        <span id="yanzilatestversion">
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </span>
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        GitHub: <a href="https://github.com/yanzicms/yanzicms" target="_blank" class="alert-link">https://github.com/yanzicms/yanzicms</a>
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('License')}: <a href="https://opensource.org/licenses/MIT" target="_blank" class="alert-link">MIT</a>
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('Author')}: {=lang('Alfred Johnson')}
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-success" role="alert">
        {=lang('Author email')}: 804644245@qq.com ({=lang('Suggestions and feedback')})
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('Language used by the program')}: PHP
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('Database')}: MySQL
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('PHP Framework')}: swuuws
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('Framework official website')}: <a href="http://www.swuuws.com" target="_blank" class="alert-link">www.swuuws.com</a>
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('Time to build')}: {build}
    </div>
</div>
<div class="col-12 col-lg-6">
    <div class="alert alert-info" role="alert">
        {=lang('Remaining space')}: {space}
    </div>
</div>