{include headers}
<div class="mb-3">
    <a class="btn btn-outline-info btn-sm" href="{=url('admin/addmodel')}">
        {=lang('Add model')}
    </a>
    <a class="btn btn-outline-info btn-sm float-right" href="{=url('admin/model')}">
        {=lang('Refresh')}
    </a>
</div>
<form class="form-inline">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{=lang('Name')}</th>
            <th scope="col">{=lang('Alias')}</th>
            <th scope="col">{=lang('Description')}</th>
            <th scope="col">{=lang('Allow submission')}</th>
            <th scope="col">{=lang('Modify')}</th>
            <th scope="col">{=lang('Delete')}</th>
        </tr>
        </thead>
        <tbody>
        {loop name="data" item="item" key="k"}
        <tr>
            <td>{item.name}</td>
            <td>{item.alias}</td>
            <td>{item.description}</td>
            <td class="align-middle">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input yanzicontribution" data-id="{item.id}" id="contribution_{item.id}"{if item.contribution == 1} checked{endif}>
                    <label class="custom-control-label" for="contribution_{item.id}"></label>
                </div>
            </td>
            <td>
                <a href="{=url('admin/modelmodify')}?id={item.id}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
                    </svg>
                </a>
            </td>
            <td>
                <a href="#!" class="yanzidel" data-id="{item.id}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
                <div class="spinner-border spinner-border-sm text-info d-none">
                    <span class="sr-only">Loading...</span>
                </div>
            </td>
        </tr>
        {endloop}
        </tbody>
    </table>
</form>
<script src="{domain}frontend/js/yanzi/model.js"></script>
{include footers}